%br

= form_tag articles_path, class: 'form-inline', id: 'searchForm', method: :get do
  .input-group
    = text_field_tag :q, params ? params[:q] : nil, class: 'form-control', placeholder: t('search_term'), autocomplete: 'off', tabindex: 1
    %span.input-group-btn
      = submit_tag t('search'), class: 'btn btn-default'

%table#list.table.table-striped
  %thead
    %tr
      %th #
      %th= Article.human_attribute_name :title
      %th= Article.human_attribute_name :price
      %th= Article.human_attribute_name :stock
      %th

.text-center
  = paginate(@articles, theme: 'la_plaza')

%script(type = 'text/html' id='item-template')
  %td 
    <%= id %>
  %td
    <%= title %>
  %td
    <%= price %>
  %td
    <%= stock %>
  %td
    %a(class="btn btn-warning btn-xs edit-item") Editar
    %a(class="btn btn-info btn-xs show-item") Ver
    %a(class="btn btn-danger btn-xs destroy-item" data-method='delete' data-confirm='are you sure?') Borrar

