%br

= search_form_for @q, html: {class: 'form-inline'} do |f|
  .input-group
    = f.text_field :title_cont, class: 'form-control', placeholder: 'Search...'
    %span.input-group-btn
      = f.submit  class: 'btn btn-default'

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Title
      %th Price
      %th Stock
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.id
        %td= article.title
        %td= number_to_currency article.price
        %td= article.stock
        %td
          = link_to "Edit", edit_article_path(article), class: 'btn btn-warning btn-xs'
          = link_to "View", article, class: 'btn btn-info btn-xs'
          = link_to "Delete", article, class: 'btn btn-danger btn-xs', method: 'delete', data: {confirm: 'Are you sure?'}
          
.text-center
  = paginate(@articles, theme: 'la_plaza')
