.panel.panel-default
  .panel-heading
    .panel-title
      = @article.title
      %span.pull-right
        = link_to t("edit", scope: 'helpers.links'), edit_article_path(@article), class: 'btn btn-warning btn-xs'
        = link_to t("destroy", scope: 'helpers.links'), @article, class: 'btn btn-danger btn-xs', method: 'delete', data: {confirm: 'Are you sure?'}
      
  .panel-body
    %dl.dl-horizontal
      %dt= Article.human_attribute_name(:title)
      %dd= @article.title

      %dt= Article.human_attribute_name(:price)
      %dd= number_to_currency @article.price

      %dt= Article.human_attribute_name(:stock)
      %dd= @article.stock

      %dt= Article.human_attribute_name(:created_at)
      %dd= l @article.created_at, format: :long

      %dt= Article.human_attribute_name(:updated_at)
      %dd= l @article.updated_at, format: :long
