!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title La plaza del plomero
    = stylesheet_link_tag "application",media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li
            = link_to articles_path do
              %span.glyphicon.glyphicon-search
              = t('search', scope: 'helpers.titles', model: 'Artículo')
          %li
            = link_to new_article_path do
              %span.glyphicon.glyphicon-save
              = t('new', scope: 'helpers.titles', model: 'Artículo')
            
        %h3.text-muted
          %a(href='/') La plaza del plomero
      .row
        .col-lg-12
          = render 'shared/flash_messages'
          = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
